<html>
    <body>
        <% if current_user == @user %>
            <% if @user.avatar.attached? %>
                <div>
                <%= image_tag(@user.avatar, style: 'width: 50px;') %>
                <h3> Perfil de <%= @user.name %> </h3>
                </div>
                <%= @user.email %>
                
            <% end %>
            
            </p>
           
        <%end%>
    </body>
  </html>